@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ocurrio un error mientras se procesaba el archivo de conversaciones.</h2>

<h3>Development Mode</h3>
<p>
    Comunicarse con el administrador.
</p>
